body {
  background-image: url("/instructions/image/poppies.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Source Serif Pro", serif;
  text-align: center;
}

.navigation {
  position: fixed;
  margin-top: -80px;
}

.navbar li {
  float: left;
}
.navbar li,
a {
  display: inline;

  padding: 10px;
}

section {
  border-radius: 5px;
  box-shadow: 10px 10px 10px #b0906ead;
  padding: 20px;
  margin: 100px 220px;
  background-color: #97b6ca;
}
h1,
h2 {
  color: #d68a48;
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 35px;
}

h2 {
  font-size: 20px;
}

li {
  display: block;
  text-align: center;
  list-style-type: none;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

#messages ul {
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: #d68a48;
}

a:hover {
  color: #6c7ae1;
}

.skills-list {
  padding: 1px;
}

.submitButton button {
  color: #fff;
  background-color: #c7826b;
  border-radius: 18px;
  border: #d49d8f;
  box-shadow: 0 10px 10px rgb(0 0 0 /10%);
  padding: 14px 23px;
  margin: 15px 0;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: #b0906f;
  border: #b0906f;
  border-style: solid;
}

.message-form {
  padding: 2px;
  margin: 5px;
}

.name {
  display: block;
  position: relative;
  margin-right: 200px;
}

.email {
  display: block;
  position: relative;
  margin-left: 200px;
  margin-top: -41.5px;
}

.message {
  margin-top: 35px;
}
.remove-button {
  background-color: #0f4830;
  color: #e2d1f9;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  border: #0f4830;
  box-shadow: 0 10px 10px rgb(0 0 0 /10%);
}
.edit-button {
  background-color: #0f4830;
  color: #e2d1f9;
  padding: 15px 20px;
  border-radius: 20px;
  border: #0f4830;
  box-shadow: 0 10px 10px rgb(0 0 0 /10%);
}

@media (max-width: 851px) {
  main {
    flex-direction: column;
  }

  body {
    background-color: #0f4830;
    color: #e2d1f9;
    font-family: monospace;
  }
  section {
    background-color: #e2d1f9;
    color: #02321e;
  }
  .navbar ul {
    background-color: #e2d1f9;
    margin: 35px 0 50px 0px;
    overflow: hidden;
  }
  .navbar li {
    float: left;
  }
  .navbar li,
  a {
    padding: 5px;
  }

  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 10px;
  }
  .name,
  .email {
    position: initial;
    margin: auto;
    padding: 10px;
  }
  .message {
    margin-top: 10px;
  }

  #message ul {
    display: block;
  }
}
